<%@ Page aspcompat=true %> 

<%

Dim startDate = Request.Form("startDate") 
Dim endDate =Request.Form("endDate") 
'startDate = "2018-08-01"
'endDate = "2018-08-08"

Dim doorName =Request.Form("doorName") 
Dim searchTurnstile = Request.Form("searchTurnstile") 
Dim searchString = "" 
if searchTurnstile<>"" then searchString= " JL.[PrimaryObjectName] LIKE '%" & searchTurnstile & "%' and "
'doorName = "DG08 Turnstile"

Dim Conn = Server.CreateObject("ADODB.Connection")
Dim DSNtest="DRIVER={SQL Server};SERVER=ASHSECAC\SQLEXPRESS"

Conn.open(DSNtest)
Dim rs=Server.CreateObject("ADODB.recordset")
Dim Sql="SELECT D.[ObjectId] as doorId, JL.SecondaryObjectName as doorName,   JL.[MessageUTC],  JL.[PrimaryObjectName] as personnelName,  P.[ObjectId] as personnelId, G.[Name] as groupName " & _
		 " FROM [ACVSCore].[Access].[Door] D  " & _
		 " JOIN [SWHSystemJournal].[dbo].[JournalLog] JL ON JL.SecondaryObjectName COLLATE DATABASE_DEFAULT = D.[Name] COLLATE DATABASE_DEFAULT  " & _
		 " JOIN [ACVSCore].[Access].[Personnel] P ON P.[name] COLLATE DATABASE_DEFAULT = JL.PrimaryObjectName COLLATE DATABASE_DEFAULT  " & _
		 " LEFT JOIN [ACVSCore].[Access].[GroupMember] GM ON GM.[TargetObjectID] = P.[ObjectID] JOIN [ACVSCore].[Access].[Group_] G ON G.[ObjectId] = GM.[GroupID]  " & _
		 " where JL.MessageType = 'CARDADMITTED' and D.[name] = '" & doorName & "' and " & searchString & _
		 " JL.[MessageUTC]>= '" & startDate & " 00:00:00.000' and JL.[MessageUTC]<= '" & endDate & " 23:59:59.999'  " & _
		 " order by JL.[MessageUTC] "
  'response.write(Sql)
  rs.open( Sql, Conn)
  response.write("{")
  response.write(" ""columns"": [""doorName"", ""time"", ""personnelName"", ""groupName""], ")
  response.write(" ""rows"" : ")
  response.write("[")
  '["doorId", "doorName", "time", "personnelName", "personnelId", "groupName"]
  While Not rs.EOF
    Dim escaped = rs("personnelName").Value
	escaped.Replace(",","\\,")
	response.write("[""" &  rs("doorName").Value & """, """ & 
						rs("MessageUTC").Value & """,  """ &  
						escaped & """, """ &  
						rs("groupName").Value & """]")
	rs.MoveNext
	if Not rs.EOF Then response.write(",")
  End While 
	response.write("]")
	response.write("}")  
%>

