<%@ Page aspcompat=true %> 

<%

Dim startDate = Request.Form("startDate") 
Dim endDate =Request.Form("endDate") 
Dim doorName =Request.Form("doorName") 
Dim searchTurnstile = Request.Form("searchTurnstile") 
Dim searchString = "" 
if searchTurnstile<>"" then searchString= " JL.[PrimaryObjectName] LIKE '%" & searchTurnstile & "%' and "

'startDate="2018-08-06"
'endDate="2018-08-06"
'searchString =""
'doorName="DG08 Turnstile"

Dim Conn = Server.CreateObject("ADODB.Connection")
Dim DSNtest="DRIVER={SQL Server};SERVER=ASHSECAC\SQLEXPRESS"

Conn.open(DSNtest)
Dim rs=Server.CreateObject("ADODB.recordset")
Dim Sql="Select count(1) as turnstyleCount " & _
	"  FROM [SWHSystemJournal].[dbo].[JournalLog] JL " & _
	"  where JL.MessageType = 'CARDADMITTED' and JL.SecondaryObjectName = '" & doorName & "' and " & searchString & _
	"  JL.[MessageUTC]>= '" & startDate & " 00:00:00.000' and JL.[MessageUTC]<= '" & endDate & " 23:59:59.999'  " 

  'response.write(Sql)
  rs.open( Sql, Conn)
  
  While Not rs.EOF
	response.write(rs("turnstyleCount").Value)
	rs.MoveNext
  End While 

  
%>

