<%@ Page aspcompat=true %> 

<%

Dim startDate = Request.Form("startDate") 
Dim endDate =Request.Form("endDate") 
'startDate = "2018-08-06"
'endDate = "2018-08-16"

Dim currentPage = Request.Form("currentPage") 
Dim pageSize = Request.Form("pageSize")
Dim doorName = Request.Form("doorName") 
Dim searchTurnstile = Request.Form("searchTurnstile") 
Dim searchString = "" 
if searchTurnstile<>"" then searchString= " JL.[PrimaryObjectName] LIKE '%" & searchTurnstile & "%' and "

'searchString =""
'currentPage =100
'pageSize =10
'doorName="DG08 Turnstile"

Dim countEnd= (CInt(currentPage) ) * CInt(pageSize)
Dim countStart= (CInt(currentPage) -1)  * CInt(pageSize)
Dim Conn = Server.CreateObject("ADODB.Connection")
Dim DSNtest="DRIVER={SQL Server};SERVER=ASHSECAC\SQLEXPRESS"

Conn.open(DSNtest)
Dim rs=Server.CreateObject("ADODB.recordset")

Dim Sql="SELECT *  " & _
 " From ( Select Top " & countEnd & "  Row_Number() Over(Order By JL.[MessageUTC]) As RowNum, D.[ObjectId] as DoorId, JL.SecondaryObjectName as doorName,   DATEADD(minute, - MessageLocaleOffset , JL.[MessageUTC]) as MessageUTC,  JL.[PrimaryObjectName] as personnelName,  P.[ObjectId] as PersonnelId, G.[Name] as groupName " & _
 " FROM [SWHSystemJournal].[dbo].[JournalLog] JL " & _
 " LEFT JOIN [ACVSCore].[Access].[Door] D ON JL.SecondaryObjectName COLLATE DATABASE_DEFAULT = D.[Name] COLLATE DATABASE_DEFAULT " & _
 " LEFT JOIN [ACVSCore].[Access].[Personnel] P ON P.[name] COLLATE DATABASE_DEFAULT = JL.PrimaryObjectName COLLATE DATABASE_DEFAULT  " & _
 " LEFT JOIN [ACVSCore].[Access].[GroupMember] GM ON GM.[TargetObjectID] = P.[ObjectID] " & _
 " LEFT JOIN [ACVSCore].[Access].[Group_] G ON G.[ObjectId] = GM.[GroupID]  " & _
 " where JL.MessageType = 'CARDADMITTED' and JL.SecondaryObjectName = '" & doorName & "'  and " & searchString & _
 " JL.[MessageUTC]>= DATEADD(minute, - MessageLocaleOffset , '" & startDate & " 00:00:00.000') and JL.[MessageUTC]<= DATEADD(minute, - MessageLocaleOffset , '" & endDate & " 23:59:59.999') " & _
 " order by JL.[MessageUTC] ) As alias  " & _
 " Where RowNum Between " & countStart & " And " & countEnd & "  " 

  'response.write(Sql)
  rs.open( Sql, Conn)

  response.write("<H2>" & doorName & " admittances " & startDate & " - " & endDate & "</H2>")
  response.write("<table id='turnstyleTable' class='blueTable'>")
  response.write("<tr><th>Door Name</th><th>Time</th><th>Personnel Name</th><th>Search Member</th></tr>")
  While Not rs.EOF
	response.write("<tr><td>" & doorName & "</td><td>" & rs("MessageUTC").Value & "</td><td>" & rs("personnelName").Value & "</td><td>" & rs("groupName").Value & "</td></tr>")
	rs.MoveNext
  End While 
  response.write("</table>")
	  
%>

