<%@ Page aspcompat=true %> 

<%

Dim Conn = Server.CreateObject("ADODB.Connection")
Dim DSNtest="DRIVER={SQL Server};SERVER=ASHSECAC\SQLEXPRESS"

Conn.open(DSNtest)
Dim rs=Server.CreateObject("ADODB.recordset")

Dim Sql="CREATE function [dbo].[fn_GetDaylightSavingsTimeEnd] " & _
	"(@Year varchar(4)) " & _
	"RETURNS smalldatetime " & _
	"as " & _
	"begin " & _
		"declare @DTSEndWeek smalldatetime " & _
		"set @DTSEndWeek = '11/01/' + convert(varchar,@Year) " & _
		"return case datepart(dw,dateadd(week,1,@DTSEndWeek)) " & _
		"when 1 then " & _
		"dateadd(hour,2,@DTSEndWeek) " & _
		"when 2 then " & _
		"dateadd(hour,146,@DTSEndWeek) " & _
		"when 3 then " & _
		"dateadd(hour,122,@DTSEndWeek) " & _
		"when 4 then " & _
		"dateadd(hour,98,@DTSEndWeek) " & _
		"when 5 then  " & _
		"dateadd(hour,74,@DTSEndWeek) " & _
		"when 6 then  " & _
		"dateadd(hour,50,@DTSEndWeek) " & _
		"when 7 then  " & _
		"dateadd(hour,26,@DTSEndWeek) " & _
	"end " & _
"end " 

rs.open( Sql, Conn)

Sql="CREATE function [dbo].[fn_GetDaylightSavingsTimeStart] " & _
"(@Year varchar(4)) " & _
"RETURNS smalldatetime " & _
"as " & _
"begin " & _
"declare @DTSStartWeek smalldatetime, @DTSEndWeek smalldatetime " & _
"set @DTSStartWeek = '03/01/' + convert(varchar,@Year) " & _
"return case datepart(dw,@DTSStartWeek) " & _
"when 1 then  " & _
"dateadd(hour,170,@DTSStartWeek) " & _
"when 2 then " & _
"dateadd(hour,314,@DTSStartWeek) " & _
"when 3 then  " & _
"dateadd(hour,290,@DTSStartWeek) " & _
"when 4 then  " & _
"dateadd(hour,266,@DTSStartWeek) " & _
"when 5 then  " & _
"dateadd(hour,242,@DTSStartWeek) " & _
"when 6 then  " & _
"dateadd(hour,218,@DTSStartWeek) " & _
"when 7 then " & _
"dateadd(hour,194,@DTSStartWeek) " & _
"end " & _
"end"

rs.open( Sql, Conn)




%>