<%@ Page aspcompat=true %> 

<%

Dim startDate = Request.Form("startDate") 
Dim endDate =Request.Form("endDate") 

'startDate="2018-08-01"
'endDate="2018-08-01"

Dim Conn = Server.CreateObject("ADODB.Connection")
Dim DSNtest="DRIVER={SQL Server};SERVER=ASHSECAC\SQLEXPRESS"
Dim percentage = 0

Conn.open(DSNtest)
Dim rs=Server.CreateObject("ADODB.recordset")

Dim Sql="select (select count(*)    " & _
 "   FROM [SWHSystemJournal].[dbo].[JournalLog] JL " & _
 "   where JL.[MessageUTC]>= DATEADD(minute, - MessageLocaleOffset , '" & startDate & " 00:00:00.000') and JL.[MessageUTC]<= DATEADD(minute, - MessageLocaleOffset , '" & endDate & " 23:59:59.999') " & _
 "   and JL.MessageType = 'CARDADMITTED' and JL.SecondaryObjectName = 'DG08 Turnstile' " & _
 "   group by JL.SecondaryObjectName) as DG08_count , "  & _
 "  " & _
 "   (select count(*)  " & _
 "   FROM [SWHSystemJournal].[dbo].[JournalLog] JL " & _
 "   where JL.[MessageUTC]>= DATEADD(minute, - MessageLocaleOffset , '" & startDate & " 00:00:00.000') and JL.[MessageUTC]<= DATEADD(minute, - MessageLocaleOffset , '" & endDate & " 23:59:59.999') " & _
 "   and JL.MessageType = 'CARDADMITTED' and JL.SecondaryObjectName = 'DG09 Turnstile' " & _
 "   group by JL.SecondaryObjectName) as DG09_count , "  & _
 "  " & _
 "   (select count(*)  " & _
 "   FROM [SWHSystemJournal].[dbo].[JournalLog] JL " & _
 "   where JL.[MessageUTC]>= DATEADD(minute, - MessageLocaleOffset , '" & startDate & " 00:00:00.000') and JL.[MessageUTC]<= DATEADD(minute, - MessageLocaleOffset , '" & endDate & " 23:59:59.999') " & _
 "   and JL.MessageType = 'CARDADMITTED' and JL.SecondaryObjectName = 'Staff Search Pedistal IN' " & _
 "   group by JL.SecondaryObjectName) as in_staff_pedistal_count "  

  rs.open( Sql, Conn)
  response.write("{")

  While Not rs.EOF
	response.write("""in_staff_pedistal_count"":""" &  rs("in_staff_pedistal_count").Value & """, ""DG08_count"":""" & rs("DG08_count").Value & """,  ""DG09_count"":""" & rs("DG09_count").Value & """")
	rs.MoveNext
  End While 
  	response.write("}")
	
%>