<%@ Page aspcompat=true %> 

<%

Dim startDate = Request.Form("startDate") 
Dim endDate =Request.Form("endDate") 

Dim Conn = Server.CreateObject("ADODB.Connection")
Dim DSNtest="DRIVER={SQL Server};SERVER=ASHSECAC\SQLEXPRESS"

Conn.open(DSNtest)
Dim rs=Server.CreateObject("ADODB.recordset")
Dim Sql="SELECT top 30 R.[ObjectId] as ReaderId, JL.SecondaryObjectName as readerName,   JL.[MessageUTC],  JL.[PrimaryObjectName] as personnelName,  P.[ObjectId] as PersonnelId, G.[Name] as groupName " & _
 "   FROM [ACVSCore].[Access].[Reader] R " & _
 "   JOIN [SWHSystemJournal].[dbo].[JournalLog] JL ON JL.SecondaryObjectName COLLATE DATABASE_DEFAULT = R.[Name] COLLATE DATABASE_DEFAULT " & _
 "   JOIN [ACVSCore].[Access].[Personnel] P ON P.[name] COLLATE DATABASE_DEFAULT = JL.PrimaryObjectName COLLATE DATABASE_DEFAULT  " & _
 "   JOIN [ACVSCore].[Access].[GroupMember] GM ON GM.[TargetObjectID]   = P.[ObjectID]  " & _
 "   JOIN [ACVSCore].[Access].[Group_] G ON G.[ObjectId]  = GM.[GroupID]   " & _
 "   where JL.MessageType = 'CARDADMITTED' and R.[name] = 'Vehicle Lock Search Reader' "
 
 'response.write(Sql)
  rs.open( Sql, Conn)
  
  response.write("DG08 Turnstile admittances " & startDate & " - " & endDate & "<BR /><BR />")
  response.write("<table class='blueTable'>")
  response.write("<tr><th>Door Name</th><th>Time</th><th>Personnel Name</th><th>Group Name</th></tr>")
  While Not rs.EOF
	response.write("<tr><td>" & rs("readerName").Value & "</td><td>" & rs("MessageUTC").Value & "</td><td>" & rs("personnelName").Value & "</td><td>" & rs("groupName").Value & "</td></tr>")
	rs.MoveNext
  End While 
	response.write("</table>")
%>