<%@ Page aspcompat=true %> 

<%

Dim Conn = Server.CreateObject("ADODB.Connection")
Dim DSNtest="DRIVER={SQL Server};SERVER=ASHSECAC\SQLEXPRESS"

Conn.open(DSNtest)

Dim rs=Server.CreateObject("ADODB.recordset")
Dim Sql="Select top 1 * " & _
	 " FROM [ACVSCore].[Access].[Door] D  " 

  'response.write(Sql)
  rs.open( Sql, Conn)
  
 For Each errorObject In rs.ActiveConnection.Errors
	Response.Write ("Description: " & errorObject.Description & Chr(10) & Chr(13) & "Number: " & Hex(errorObject.Number))
 Next


%>

