<%@ Page aspcompat=true %> 

<ul>
<%for i = 0 to 10%>
<li><%=i%></li>
<%next%>
</ul> 

<%
Dim Conn = Server.CreateObject("ADODB.Connection")
Dim DSNtest="DRIVER={SQL Server};SERVER=ASHSECAC\SQLEXPRESS"
';UID=Administrator;PWD=Del1ver2002!
'[ACVSCore].[Access].[Door]
'UID=ASHSECAC\Administrator;PWD='Del1ver2002!';
'IIS APPPOOL\DefaultAppPool
Conn.open(DSNtest)
Dim rs=Server.CreateObject("ADODB.recordset")
Dim Sql="SELECT (select count(*)   " & _
 "   FROM [ACVSCore].[Access].[Door] D " & _
 "   JOIN [SWHSystemJournal].[dbo].[JournalLog] JL ON JL.SecondaryObjectName COLLATE DATABASE_DEFAULT = D.[Name] COLLATE DATABASE_DEFAULT " & _
 "   JOIN [ACVSCore].[Access].[Personnel] P ON P.[name] COLLATE DATABASE_DEFAULT = JL.PrimaryObjectName COLLATE DATABASE_DEFAULT  " & _
 "   JOIN [ACVSCore].[Access].[GroupMember] GM ON GM.[TargetObjectID]   = P.[ObjectID]  " & _
 "   JOIN [ACVSCore].[Access].[Group_] G ON G.[ObjectId]  = GM.[GroupID]   " & _
 "   where JL.MessageType = 'CARDADMITTED' and D.[name] = 'DG08 Turnstile'  and  " & _
 "   [MessageUTC] between '2018-08-01 00:00:00.000' and  '2018-08-31 23:59:59.999' group by D.[Name]) as DG08_count, " & _
 "   (select count(*)       " & _
 "   FROM [ACVSCore].[Access].[Door] D " & _
 "   JOIN [SWHSystemJournal].[dbo].[JournalLog] JL ON JL.SecondaryObjectName COLLATE DATABASE_DEFAULT = D.[Name] COLLATE DATABASE_DEFAULT " & _
 "   JOIN [ACVSCore].[Access].[Personnel] P ON P.[name] COLLATE DATABASE_DEFAULT = JL.PrimaryObjectName COLLATE DATABASE_DEFAULT  " & _
 "   JOIN [ACVSCore].[Access].[GroupMember] GM ON GM.[TargetObjectID]   = P.[ObjectID]  " & _
 "   JOIN [ACVSCore].[Access].[Group_] G ON G.[ObjectId]  = GM.[GroupID]   " & _
 "   where JL.MessageType = 'CARDADMITTED' and D.[name] = 'DG09 Turnstile'  and  " & _
 "   [MessageUTC] between '2018-08-01 00:00:00.000' and  '2018-08-31 23:59:59.999' group by D.[Name]) as DG09_count, " & _
 "   (select count(*)       " & _
 "   FROM [ACVSCore].[Access].[Door] D " & _
 "   JOIN [SWHSystemJournal].[dbo].[JournalLog] JL ON JL.SecondaryObjectName COLLATE DATABASE_DEFAULT = D.[Name] COLLATE DATABASE_DEFAULT " & _
 "   JOIN [ACVSCore].[Access].[Personnel] P ON P.[name] COLLATE DATABASE_DEFAULT = JL.PrimaryObjectName COLLATE DATABASE_DEFAULT  " & _
 "   JOIN [ACVSCore].[Access].[GroupMember] GM ON GM.[TargetObjectID]   = P.[ObjectID]  " & _
 "   JOIN [ACVSCore].[Access].[Group_] G ON G.[ObjectId]  = GM.[GroupID]   " & _
 "  " & _
 "   where JL.MessageType = 'CARDADMITTED' and D.[name] = 'Staff Search Pedistal IN'  and  " & _
 "   [MessageUTC] between '2018-08-01 00:00:00.000' and  '2018-08-31 23:59:59.999' group by D.[Name]) as in_staff_pedistal_count, " & _
 "  " & _
 "    ((select count(*)       " & _
 "   FROM [ACVSCore].[Access].[Door] D " & _
 "   JOIN [SWHSystemJournal].[dbo].[JournalLog] JL ON JL.SecondaryObjectName COLLATE DATABASE_DEFAULT = D.[Name] COLLATE DATABASE_DEFAULT " & _
 "   JOIN [ACVSCore].[Access].[Personnel] P ON P.[name] COLLATE DATABASE_DEFAULT = JL.PrimaryObjectName COLLATE DATABASE_DEFAULT  " & _
 "   JOIN [ACVSCore].[Access].[GroupMember] GM ON GM.[TargetObjectID]   = P.[ObjectID]  " & _
 "   JOIN [ACVSCore].[Access].[Group_] G ON G.[ObjectId]  = GM.[GroupID]   " & _
 "  " & _
 "   where JL.MessageType = 'CARDADMITTED' and D.[name] = 'Staff Search Pedistal IN'  and  " & _
 "   [MessageUTC] between '2018-08-01 00:00:00.000' and  '2018-08-31 23:59:59.999' group by D.[Name]) / 2) / " & _
 "  " & _
 "    (cast((select count(*)       " & _
 "   FROM [ACVSCore].[Access].[Door] D " & _
 "   JOIN [SWHSystemJournal].[dbo].[JournalLog] JL ON JL.SecondaryObjectName COLLATE DATABASE_DEFAULT = D.[Name] COLLATE DATABASE_DEFAULT " & _
 "   JOIN [ACVSCore].[Access].[Personnel] P ON P.[name] COLLATE DATABASE_DEFAULT = JL.PrimaryObjectName COLLATE DATABASE_DEFAULT  " & _
 "   JOIN [ACVSCore].[Access].[GroupMember] GM ON GM.[TargetObjectID]   = P.[ObjectID]  " & _
 "   JOIN [ACVSCore].[Access].[Group_] G ON G.[ObjectId]  = GM.[GroupID]   " & _
 "   where JL.MessageType = 'CARDADMITTED' and D.[name] = 'DG08 Turnstile'  and  " & _
 "   [MessageUTC] between '2018-08-01 00:00:00.000' and  '2018-08-31 23:59:59.999' group by D.[Name]) as DECIMAL (18,10)) +  " & _
 "  " & _
 "   cast((select count(*)       " & _
 "   FROM [ACVSCore].[Access].[Door] D " & _
 "   JOIN [SWHSystemJournal].[dbo].[JournalLog] JL ON JL.SecondaryObjectName COLLATE DATABASE_DEFAULT = D.[Name] COLLATE DATABASE_DEFAULT " & _
 "   JOIN [ACVSCore].[Access].[Personnel] P ON P.[name] COLLATE DATABASE_DEFAULT = JL.PrimaryObjectName COLLATE DATABASE_DEFAULT  " & _
 "   JOIN [ACVSCore].[Access].[GroupMember] GM ON GM.[TargetObjectID]   = P.[ObjectID]  " & _
 "   JOIN [ACVSCore].[Access].[Group_] G ON G.[ObjectId]  = GM.[GroupID]   " & _
 "  " & _
 "   where JL.MessageType = 'CARDADMITTED' and D.[name] = 'DG09 Turnstile'  and  " & _
 "   [MessageUTC] between '2018-08-01 00:00:00.000' and  '2018-08-31 23:59:59.999' group by D.[Name]) as DECIMAL (18,10))    " & _
 "  " & _
 "  ) *100  as percentage;  "
 
 '"SELECT TOP 5 * FROM [ACVSCore].[Access].[Door]"
 
rs.open( Sql, Conn)
  response.write("September results 2018<BR /><BR />")
  While Not rs.EOF
	response.write("<table>")
	response.write("<tr><td>DG08_count</td><td>DG09_count</td><td>in_staff_pedistal_count</td><td>Percentage</td></tr>")
	response.write("<tr><td>" & rs("DG08_count").Value & "</td><td>" & rs("DG09_count").Value & "</td><td>" & rs("in_staff_pedistal_count").Value & "</td><td>" & rs("percentage").Value & "</td></tr>")
	response.write("</table>")
	rs.MoveNext
  End While 
%>